---
import BaseHead from "@/components/BaseHead.astro";
import PromotionBar from "@/components/global/PromotionBar.astro";
import { ViewTransitions } from 'astro:transitions';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

const gutenbergPost = posts.find(post => post.slug === 'gutenberg-vs-page-builders');
---

<html lang="en" class="scroll-smooth selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black">
  <head>
    <BaseHead />
    <ViewTransitions />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-[#f7f7f7] dark:bg-[#1a1c1f] flex flex-col min-h-screen mx-auto 2xl:max-w-7xl 2xl:border-x border-dashed border-zinc-300 dark:border-zinc-700 relative">
    {gutenbergPost && <PromotionBar post={gutenbergPost} />}
    <main class="flex-grow"><slot /></main>
  </body>
</html>
