---
import Text from "../fundations/elements/Text.astro";
---

<Text
  tag="a"
  variant="textSM"
  href="/"
  class="font-semibold text-black dark:text-white lg:text-base"
>
  <div class="flex gap-4 items-center">
    <div class="w-8">
      <svg
        class="h-8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 0C8.954 0 0 8.954 0 20s8.954 20 20 20 20-8.954 20-20S31.046 0 20 0zm0 4c8.837 0 16 7.163 16 16s-7.163 16-16 16S4 28.837 4 20 11.163 4 20 4z"
          fill="currentColor"
        />
        <path
          d="M28 14.5c0-1.657-1.343-3-3-3s-3 1.343-3 3c0 1.657 1.343 3 3 3s3-1.343 3-3zM18 14.5c0-1.657-1.343-3-3-3s-3 1.343-3 3c0 1.657 1.343 3 3 3s3-1.343 3-3z"
          fill="currentColor"
        />
        <path
          d="M29.5 24c-.827 0-1.5-.673-1.5-1.5 0-4.418-3.582-8-8-8s-8 3.582-8 8c0 .827-.673 1.5-1.5 1.5S9 23.327 9 22.5c0-6.075 4.925-11 11-11s11 4.925 11 11c0 .827-.673 1.5-1.5 1.5z"
          fill="currentColor"
        />
      </svg>
    </div>
    <div class="flex flex-col">
      <span class="text-lg font-bold tracking-tight">WooThatsFast</span>
      <span class="text-xs text-zinc-500 dark:text-zinc-400">Speed up your store</span>
    </div>
  </div>
</Text>
